@import '../../../index-css/_colors.scss';

.banner {
  display: flex;
  align-items: center;
  padding: 20px;
  
  .info {
    flex: 1;
    padding-right: 20px;

    h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      margin-bottom: 20px;
    }

    button {
      background-color: $blue;
      color: $white;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s;
      
      &:hover {
        background-color: $blue;
      }
    }
  }

  .img {
    flex: 2;
    text-align: right;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    
    .info, .img {
      text-align: center;
    }
  }
}
