/*Paleta oscura*/
$red: #EF3C35;
$green: #5FBD5C;
$yellow: #F9DA06;
$blue: #4186C7;
$orange: #E7641E;
$white: #ffffff;
$black: #000000;
/*Paleta clara*/
$pink: #ffd1f0;
$red_1: #ef6c67;
$yellow_1: #E9CC04;
$yellow_2: #F5DB0A;
$blue_1: #7CB2E0;
$blue_2: #EFEAE5;
$green_1: #A6D0A2;
$color_footer:#f2f2f2;