/* tipografia font-family: 'Alkatra', cursive;'Oswald', sans-serif;'Outfit', sans-serif;'Roboto', sans-serif;'Tillana', cursive;
 */
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Oswald:wght@400;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Tillana:wght@400;600;700&display=swap');
/* para usar : @include title; */
@mixin title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700; 
    letter-spacing: -1px;
    line-height: 40px;
    color: #3b3e40;
  }
@mixin title2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500; 
    letter-spacing: -1px;
    line-height: 40px;
    color:  #61676b;
  }
/* para usar : @include text; */
@mixin text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 24px;
    color: #232222;
}
@import './_colors.scss';

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;

  
#Dark {
  background-color: #282c34;
  color: white;
}
#Dark a{
  color: white;
}

#Light {
  background-color: #f2f4f6;
  color:#0d3f67;
}

.list li{
  display:inline-block;
  padding-left:3px;
  padding-right:3px;
}
   
  body {
   
    h1 {
      @include title;
    }
    h2, h3, h4, label {
      @include title2;
    }
    p, a {
      @include text;
    }
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
}