@import '../../../index-css/_colors.scss';
.contenedor {
  width: 195%;
  max-width: 1120px;
  margin: 50px 180px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  //grid-template-rows: auto auto;
  grid-template-areas:
    "widget-1 widget-2";
}


.widget-2 {
  background: $blue_2;
  height: 399px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
}
.widget-1{
  background: $blue_2;
  height: 399px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
}

.widget-1 img,
.widget-2 img {
  max-width: 150%;
  max-height: 99%;
  object-fit: cover;
}

.widget-1 {
  grid-area: widget-1;
}

.widget-2 {
  grid-area: widget-2;
}
.widget-1 button {
  background-color: #55a8fd;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.widget-1 button:hover {
  background-color: #4287e0;
}

#model_viewer {
    width: 600px;;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
}


@media screen and (max-width: 768px) {
  .contenedor {
    grid-template-areas:
      "widget-2"
      "widget-1";
     
  }
  .widget-2 {   
    margin-left: 4px;
  }
  .widget-1 {
    padding: 5px;
    margin-left: 4px;
  }

  .widget-1 h2 {
    font-size: 1.3rem;
    margin-bottom: 8px;
  }

  .widget-1 p {
    font-size: 1rem;
    margin-bottom: 15px;
  }

  .widget-1 button {
    padding: 8px 16px;
  }
} 
